<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cabinet Page</title>
    <link rel="stylesheet" href="./../styles.css">
</head>

<body>

    <div class="cabinet-container">
        <div class="cabinet-box">
            <h2>Cabinet</h2>

            <% if (message) { %>
                <div class="message">
                    <p>
                        <%= message %>
                    </p>
                </div>
                <% } %>

                    <form action="/submit-cabinet" method="POST">
                        <div class="form-group">
                            <label for="serialNumber">Serial Number</label>
                            <input type="text" id="serialNumber" name="serialNumber"
                                value="<%= config.serialNumber || '' %>" required>
                        </div>

                        <div class="form-group">
                            <label for="enabledDevices">Devices</label><br>
                            <label class="checkbox-label">
                                <input type="checkbox" name="enabledDevices" value="buzzer" <%=config.enabledDevices &&
                                    config.enabledDevices.includes('buzzer') ? 'checked' : '' %> >
                                Buzzer
                            </label><br>
                            <label class="checkbox-label">
                                <input type="checkbox" name="enabledDevices" value="distance" <%=config.enabledDevices
                                    && config.enabledDevices.includes('distance') ? 'checked' : '' %> >
                                Distance sensor
                            </label><br>
                            <label class="checkbox-label">
                                <input type="checkbox" name="enabledDevices" value="infrared" <%=config.enabledDevices
                                    && config.enabledDevices.includes('infrared') ? 'checked' : '' %> >
                                Passive infrared sensor
                            </label><br>
                        </div>

                        <div class="form-group">
                            <label for="startTime">Start Time</label>
                            <input type="time" id="startTime" name="startTime" value="<%= config.startTime || '' %>"
                                required>
                        </div>

                        <div class="form-group">
                            <label for="endTime">End Time</label>
                            <input type="time" id="endTime" name="endTime" value="<%= config.endTime || '' %>" required>
                        </div>

                        <button type="submit">Submit</button>
                    </form>
                    <a href="/logout">Logout</a>
        </div>
    </div>

</body>

</html>